# Dependencies
node_modules/

# Logs
logs/
*.log

# Temp files
temp/
bk/

# Environment variables
.env
.env.local
.env.*.local
.vscode/

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Test coverage
coverage/

# JSON de saída (voos, temp, config gerado)
voos_*.json
teste.json
5dbbbedb-*.json
doc/
*.command